<?xml version="1.0"?>
<package format="3">
  <name>{{ pkg }}</name>
  <version>{{ version }}</version>
  <description>{{ description }}</description>
  <maintainer email="{{ maintainer_email }}">{{ maintainer }}</maintainer>
  <license>{{ license }}</license>

  <buildtool_depend>ament_cmake</buildtool_depend>
{% for dep in depends %}
  <depend>{{ dep }}</depend>
{% endfor %}
  <exec_depend>{{ rmw_package }}</exec_depend>
  <exec_depend>launch</exec_depend>
  <exec_depend>launch_ros</exec_depend>
  <exec_depend>ament_index_python</exec_depend>

  <test_depend>ament_lint_auto</test_depend>
  <test_depend>ament_lint_common</test_depend>

  <export>
    <build_type>ament_cmake</build_type>
  </export>
</package>
